@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    position: relative;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
}

.subhead{
    position: relative;
    top: 2em;
    padding: 1rem;
}

ul {
list-style-type: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.banner {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #CC6633;
    text-align: center;
    position: relative;
    min-height: 300px;
}

.circle:hover {
    border-radius:50%;   
}

.logo {
    position: absolute;
    text-align: center;
    height: 50px;
    top: 30px;
    left:50%; 
    -webkit-transform: translateX(-50%); 
    transform: translateX(-50%); 
    width: 150%;
}

.logo:hover {
    opacity: .5;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
}

.play-button {
    text-align: center;
    top: 10px;
    width: 20%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-animation: bounce 1s alternate infinite;
    animation: bounce 1s alternate infinite;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(6px)
    }
    
    100% {
        -webkit-transform: translateY(-6px)
    }
}

@keyframes bounce {
    0% {
        transform: translateY(6px)
    }
    
    100% {
        transform: translateY(-6px)
    }
}

@media only screen and (min-width: 38em) {
    
.play-button {
    width: 8%;
}

}

@media only screen and (min-width: 60em) {

.play-button {
    width: 7%;
    }
}

@media only screen and (min-width: 90em) {

.play-button {
    width: 6%;
    }
}

.bar-wrapper {
    position: absolute;
    width: 30%;
    top: 79px;
    left: calc(50%);
}

.bars {
    position: absolute;
    top: 30px;
    height: 30px;
    width: 40px;    
}

.bar {
   background: black;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;   
    -webkit-animation: sound 0ms -800ms linear infinite alternate;
    animation: sound 0ms -800ms linear infinite alternate;
}

@-webkit-keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 50px;        
    }
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 50px;        
    }
}

.bar:nth-child(1)  {
    left: 1px;
    -webkit-animation-duration: 474ms;
    animation-duration: 474ms;
}

.bar:nth-child(2)  { 
    left: 5px; 
    -webkit-animation-duration: 433ms;
    animation-duration: 433ms; 
}

.bar:nth-child(3)  { 
    left: 9px;
    -webkit-animation-duration: 407ms;
    animation-duration: 407ms; 
}

.bar:nth-child(4)  { 
    left: 13px; 
    -webkit-animation-duration: 458ms; 
    animation-duration: 458ms; 
}

.bar:nth-child(5)  { 
    left: 17px; 
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

.bar:nth-child(6)  { 
    left: 21px; 
    -webkit-animation-duration: 427ms;
    animation-duration: 427ms; 
}

.bar:nth-child(7)  { 
    left: 25px; 
    -webkit-animation-duration: 441ms;
    animation-duration: 441ms; 
}

.bar:nth-child(8)  { 
    left: 29px; 
    -webkit-animation-duration: 419ms; 
    animation-duration: 419ms; 
}

.bar:nth-child(9)  { 
    left: 33px; 
    -webkit-animation-duration: 487ms; 
    animation-duration: 487ms; 
}

.bar:nth-child(10) { 
    left: 37px; 
    -webkit-animation-duration: 442ms; 
    animation-duration: 442ms; 
}