@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    position: relative;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
}

.subhead {
    position: relative;
    top: 2em;
    padding: 1rem;
}

ul {
list-style-type: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.banner {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #CC6633;
    text-align: center;
    position: relative;
    min-height: 300px;
}

.circle: hover {
    border-radius:50%;   
}

.logo {
    position: absolute;
    text-align: center;
    height: 50px;
    top: 30px;
    left:50%; 
    -webkit-transform: translateX(-50%); 
    transform: translateX(-50%); 
    width: 150%;
}

.logo:hover {
    opacity: .5;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
}

.play-button {
    text-align: center;
    top: 10px;
    width: 20%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-animation: bounce 1s alternate infinite;
    animation: bounce 1s alternate infinite;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(6px)
    }
    
    100% {
        -webkit-transform: translateY(-6px)
    }
}

@keyframes bounce {
    0% {
        transform: translateY(6px)
    }
    
    100% {
        transform: translateY(-6px)
    }
}

@media only screen and (min-width: 40em) {
    
.play-button {
    width: 8%;
}

}

@media only screen and (min-width: 60em) {

.play-button {
    width: 10%;
    }
}

@media only screen and (min-width: 60em) {

.play-button {
    width: 6%;
    }
}

.bar-wrapper {
    position: absolute;
    width: 30%;
    top: 79px;
    left: calc(50%);
}

.bars {
    position: absolute;
    top: 30px;
    height: 30px;
    width: 40px;    
}

.bar {
   background: black;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;   
    -webkit-animation: sound 0ms -800ms linear infinite alternate;
    animation: sound 0ms -800ms linear infinite alternate;
}

@-webkit-keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 50px;        
    }
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 50px;        
    }
}

.bar:nth-child(1)  {
    left: 1px;
    -webkit-animation-duration: 474ms;
    animation-duration: 474ms;
}

.bar:nth-child(2)  { 
    left: 5px; 
    -webkit-animation-duration: 433ms;
    animation-duration: 433ms; 
}

.bar:nth-child(3)  { 
    left: 9px;
    -webkit-animation-duration: 407ms;
    animation-duration: 407ms; 
}

.bar:nth-child(4)  { 
    left: 13px; 
    -webkit-animation-duration: 458ms; 
    animation-duration: 458ms; 
}

.bar:nth-child(5)  { 
    left: 17px; 
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

.bar:nth-child(6)  { 
    left: 21px; 
    -webkit-animation-duration: 427ms;
    animation-duration: 427ms; 
}

.bar:nth-child(7)  { 
    left: 25px; 
    -webkit-animation-duration: 441ms;
    animation-duration: 441ms; 
}

.bar:nth-child(8)  { 
    left: 29px; 
    -webkit-animation-duration: 419ms; 
    animation-duration: 419ms; 
}

.bar:nth-child(9)  { 
    left: 33px; 
    -webkit-animation-duration: 487ms; 
    animation-duration: 487ms; 
}

.bar:nth-child(10) { 
    left: 37px; 
    -webkit-animation-duration: 442ms; 
    animation-duration: 442ms; 
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 40px;
    width: 40px;
	overflow: hidden;
    position: absolute;
    top: 24px;
    left: 3%;
	background: url("../images/icon-nav.svg") no-repeat;
	text-indent: 100%;
	white-space: nowrap; 
    z-index: 1;
    border: none;
}

.panel {
    display: none;
    margin: auto;
}

.panel ul {
    margin-left: 3em;
}

.panel a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    color: black;
}

.panel a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    -webkit-transition:color linear 0.15s;
    transition:color linear 0.15s;
}
 
.panel a:hover, .panel .current-item a {
    text-decoration: none;
    color: #CC6633;
}

.js-panel-open {
    display: block;
}

.music-player {
    height: 60px;
    text-align: center;
    margin-top:3em; 
}

.play-btn2 {
    width:30%;
    margin-left: auto;
    margin-right: auto;
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes flip { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(0); 
        -webkit-animation-timing-function: ease-out; 
    } 
    40% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        -webkit-animation-timing-function: ease-out; 
    } 
    50% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
    80% { 
        -webkit-transform: perspective(400px) rotateY(360deg) scale(.95); 
        -webkit-animation-timing-function: ease-in; 
    } 
    100% { 
        -webkit-transform: perspective(400px) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
} 
@keyframes flip { 
    0% { 
        transform: perspective(400px) rotateY(0); 
        animation-timing-function: ease-out; 
    } 
    40% { 
        transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        animation-timing-function: ease-out; 
    } 
    50% { 
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        animation-timing-function: ease-in; 
    } 
    80% { 
        transform: perspective(400px) rotateY(360deg) scale(.95); 
        animation-timing-function: ease-in; 
    } 
    100% { 
        transform: perspective(400px) scale(1); 
        animation-timing-function: ease-in; 
    } 
} 

.flip { 
    -webkit-backface-visibility: visible; 
    -webkit-animation-name: flip; 
    backface-visibility: visible; 
    animation-name: flip; 
}

.play-button-footer {
    text-align: center;
    top: 20px;
    width: 20%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-transform: rotate(180); 
    transform: rotate(180); 
    position: relative;

}

.footer {
    text-align: center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 100px;
}

.reverse-btn {
    max-width: 30%;
    float: right;   
}

.fast-forward-btn {
    max-width: 30%;
    -webkit-transform: translateX(-125%);
    transform: translateX(-125%);
}

.move {
    margin-right: -200px;
    -webkit-transition: all 55ms linear;
    transition: all 55ms linear;
}

.bounce {
    -webkit-animation: reverser 600ms linear; 
    animation: reverser 600ms linear;
}

@-webkit-keyframes reverser {
    
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    
    20% {
        -webkit-transform: translate(-50px, -20px);
    }
  
    40% {
        -webkit-transform: translate(-100px, 20px);
    }
      
    60% {
        -webkit-transform: translate(-150px, -20px);
    }
      
    80% {
        -webkit-transform: translate(-200px, 20px);
    }
      
    100% {
        -webkit-transform: translate(-250px, -20px);
    }
}

@keyframes reverser {
    
    0% {
        transform: translate(0px, 0px);
    }
    
    20% {
        transform: translate(-50px, -20px);
    }
  
    40% {
        transform: translate(-100px, 20px);
    }
      
    60% {
        transform: translate(-150px, -20px);
    }
      
    80% {
        transform: translate(-200px, 20px);
    }
      
    100% {
        transform: translate(-250px, -20px);
    }
}

.icon {
    top: 40px;
    position: relative;
    overflow: visible;
}

.icon-link {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.icon #left_music_notes {
    
    -webkit-animation: bump 1s linear infinite;
    animation: bump 1s linear infinite;
}



.icon #right_music_notes {
 
    -webkit-animation: bump 1s linear infinite; 
    animation: bump 1s linear infinite; 
}

@-webkit-keyframes bump {
    0% {
        transform: translate(0);
    }
     30% {
        transform: translate(20px);
    }
     70% {
        transform: translate(-20px);
    }
     100% {
        transform: translate(0);
    }
}

@keyframes bump {
    0% {
        transform: translate(0);
    }
     30% {
        transform: translate(20px);
    }
     70% {
        transform: translate(-20px);
    }
     100% {
        transform: translate(0);
    }
}