@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    position: relative;
     transform: translateY(60px)
}

.subhead{
    position: relative;
    top: 2em;
    padding: 1rem;
}

ul {
list-style-type: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.banner {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #CC6633;
    text-align: center;
    position: relative;
    min-height: 300px;
}

.circle:hover {
    border-radius:50%;
    
}

.logo {
    position: absolute;
    text-align: center;
    height: 50px;
    top: 30px;
    left:50%; 
    transform: translateX(-50%); 
    width: 150%;
}

.logo:hover {
    opacity: .5;
    transition: all 1000ms;
}

.bar-wrapper {
    position: absolute;
    width: 30%;
    top: 79px;
    left: calc(50%);
}

.bars {
    position: absolute;
    top: 30px;
    height: 30px;
    width: 40px;    
}

.bar {
   background: black;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 50px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }​

 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
} 

@media only screen and (min-width: 22em) (}
@media only screen and (min-width: 50em) (}
@media only screen and (min-width: 60em) (}

